@import "../../theme/theme";

.FPCard {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 50px 50px;

  background: $primary;

  font-family: $core-font;
  font-size: 22px;
  color: $on-primary-light;

  box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);

  .CardHeader {
    width: 500px;
    font-family: $core-font;
    font-size: 20px;
    color: $on-primary-light;
  }

  .CardBody {
    width: 500px;
  }

  .CardFooter {
    width: 500px;
    font-family: $core-font;
    font-size: 10px;
    color: $on-primary-light;
    align-content: center;
  }

  .CardContainer {
    padding: 50px;
    width: 500px;
    height: 400px;
  }

  .FPButton {
    width: 100px;
    margin: 15px;
  }

  .CancelButton {
    width: 100px;
    margin: 15px;
  }
  
}